@import '../../styles/_variables';

.component-range {
  display: flex;
  align-self: center;
  &__text {
    margin:0 20px;
  }
  &__content {
    background-color: $first-color;
    background-clip: content-box;
    padding: 7px 0;
    
    &--first {
      height: $spacing-6;
      width: $spacing-8;
    }

    &--second {
      width: $spacing-20;
      height: $spacing-6;
    }
  }
  &__selected {
    background: $first-color;
    z-index: 1;
    width: $spacing-14;
    height: $spacing-16;
    position: relative;
    bottom: 5px;
    border-radius: $spacing-8;
  }
  &__selected:hover {
    width:$spacing-18;
    height: 19px;
    border-radius: $spacing-10;
    bottom:$spacing-6;
    cursor: pointer;
  }
}
