.component-range {
  display: flex;
  align-self: center;
  &__text {
    margin:0 20px;
  }
  &__content {
    background-color: black;
    background-clip: content-box;
    padding: 7px 0;
    
    &--first {
      height: 6px;
      width: 4px;
    }

    &--second {
      width: 20px;
      height: 6px;
    }
  }
  &__selected {
    background: black;
    z-index: 1;
    width: 15px;
    height: 16px;
    position: relative;
    bottom: 5px;
    border-radius: 8px;
  }
  &__selected:hover {
    width: 18px;
    height: 19px;
    border-radius: 10px;
    bottom: 6px;
    cursor: pointer;
  }
}
